// Place all the styles related to the coffee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#coffee-index {
    h1 {
        color: magenta;
    }

    .card-container {
        display: flex;
    }

    .card {
        border: 1px solid black;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
    }
}

#coffee-show {
    h1 {
        color: lightseagreen;
    }
    
    .coffee-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: darkgreen solid 1px;
        padding: 7px;
        margin: 10px
    }

    .btn {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        padding: 10px 20px;
        font-size: 12px;
        transition: all 0.25s;
        cursor: pointer;
    }
    .danger {
        border-color: red; 
        color: red;
        &:hover{
            color: white;
            background-color: red;
        }
        
    }
    .warning {
        border-color: orange; 
        color: orange;
        &:hover{
            color: white;
            background-color: orange;
        }
        
    }
}