<main id="coffee-show">
    <div class="coffee-content">
        <h1> <%= @coffee[:name].capitalize %> </h1>
        <p> <%= @coffee[:description] %> </p>
        <p> Price: <%= @coffee[:price] %> </p>
    </div>
</main>